.textoguara{
    background-color: brown;
    color: aliceblue;    
    width: 50%;
}
.textocanoa{
    background-color: brown;
    color: aliceblue;
    width: 50%;
}
.textojeri{
    background-color: brown;
    color: aliceblue;
    width: 50%;
}
